[submodule "src/main/webapp/lib/dojo"]
	path = src/main/webapp/lib/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/main/webapp/lib/dojox"]
	path = src/main/webapp/lib/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/main/webapp/lib/dijit"]
	path = src/main/webapp/lib/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/main/webapp/lib/util"]
	path = src/main/webapp/lib/util
	url = https://github.com/dojo/util.git
[submodule "src/main/webapp/lib/dgrid"]
	path = src/main/webapp/lib/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "src/main/webapp/lib/xstyle"]
	path = src/main/webapp/lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "src/main/webapp/lib/put-selector"]
	path = src/main/webapp/lib/put-selector
	url = https://github.com/kriszyp/put-selector.git
